<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or blueprints!</p>
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
        <input type="text" class="form-control" #nameInput> <!-- This is using refrence. -->
        <label>Server Content</label>
        <input type="text" class="form-control" #contentInput> <!-- We use ViewChild to get the value of the input-->
        <br>
        <button class="btn btn-primary" (click)="onAddServer(nameInput)">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprint(nameInput)">Add Server Blueprint</button>
    </div>
</div>

<!-- #refrenceName can only be used in the .html template, not the TS -->